body {
    background-image: url("/picture.jpg");
}

.header {
    box-sizing: border-box;
    border: 100px;
    padding: 0;
    height: 200px;
    
}
.list { 
    display:flex ;
    margin: right 16px;


}
section {

    border: 30px;

}

@media screen and (max-width: 992px) {
    header {
   font-size: medium;
   background-color: #1d646d;
}
    
  }
  
  @media screen and (max-width: 768px) {
    nav {
        font-size: larger;
      background-color: #996f9c;
    }
  }
  